body.dashboard{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    background-color: rgb(240, 240, 240);
    nav{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 2rem 0;
        height: 100vh;
        position: fixed;
        position: relative;
        align-items: center;
        img{
            width: 70px;
        }
        span{
            font-size: 1.7rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 3rem;
            height: fit-content;
            li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            
            
            a{
                display: flex;
                text-decoration: none;
                color: $primary-color;
                font-size: 0.8rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
            }
            .log-out{
                position: absolute;
                bottom: 0;
                color: #9b0e0e;
                cursor: pointer;
                margin-bottom: 2rem;
            }
        }
    }
    }
    section{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2%;
        article.container{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            height: 100%;

            header{
                background-image: url('../images/bg.jpg');
                width: 100%;
                border-radius: 10px;
                padding: 1rem;
                color: #fff;
                line-height: 3rpx;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: end;
                h3{
                    font-size: 2rem;
                }
                .matricno{
                  font-size: 0.9rem;
                  color: #d1d1d1;
                }

            }
            &-right{
                padding: 2% 5% 2% 10%;
                justify-content: start;
                align-items: start;
                height: 100%;

                .booking-title{
                    color: #202020;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                .booking-lists{
                    width: 100%;
                    border-radius: 5px;
                    background-color: #fff;
                    padding: 2% 5%;
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    height: 80vh;

                }
                

                ul li{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    border-bottom: #bebebe 1px solid;

                   
                    .name-court{
                        font-size: 1rem;
                    }
                    .booking-list-details-time{
                        display: flex;
                        justify-content: space-between;
                        font-size: 0.9rem;
                        color: #414141;
                        gap: 1rem;
                        margin-bottom: 1.5rem;
                        &:first-child{
                            border-right: solid 1px #bebebe;
                        }
                    }
                }


            }

            .information{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 2rem 0;
                gap: 1rem;
                width: 100%;
                .info{
                    padding: 2rem;
                    color: #929292;
                    line-height: 15px;
                    background-color: #fff ;
                    border-radius: 5px;
                    min-width: 400px;
                    height: 150px;
                }
                .info-booking{
                    height: 150px;
                    padding: 1rem;
                    color: #ffffff;
                    line-height: 25px;
                    background: #1209EB;
                    background: linear-gradient(135deg, #1209EB, #28335B);
                    border-radius: 5px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    
                    p{  
                        font-size: 0.8rem;
                    }
                    h3{
                        font-size: 4em;
                        line-height: 50px;
                    }
                  
                }

            }    

            .rules{
                margin: 0 5%;
            }
            ol li {
                font-size: 0.8rem;
            }
        }
    }
}
.deleteIcon{
    cursor: pointer;
}


.admin-dashboard-container{
   header {
      background: url('../images/admin_bg.jpg') !important;
   }  
  .info-booking{
      background: rgb(36,0,16) !important;
      background: linear-gradient(90deg, rgba(36,0,16,1) 0%, rgba(121,9,9,1) 35%, rgba(145,23,23,1) 100%) !important;
  }

} 

.id_book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    max-width: 200px;

    span{
        color: #bebebe;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}


.container header {
    position: relative;
}
.location{
    display: flex;
    font-size: 0.7rem;
}